<ion-view view-title="Notificações">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Sistemas Distribuídos</div>
      <div class="item item-body">
        <div>
          Ausência de professor.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Análise de Sistemas II</div>
      <div class="item item-body">
        <div>
          Tá entendendo?!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Cálculo</div>
      <div class="item item-body">
        <div>
          Professor se ausentará hoje.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Sistemas Distribuídos</div>
      <div class="item item-body">
        <div>
          Ausência de professor.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Análise de Sistemas II</div>
      <div class="item item-body">
        <div>
          Tá entendendo?!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Cálculo</div>
      <div class="item item-body">
        <div>
          Professor se ausentará hoje.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
