<ion-view view-title="Notificações">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider item-nao-lido">P.O.O.</div>
      <div class="item item-body">
        <div>
          Ausência de professor.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-nao-lido">Estatística</div>
      <div class="item item-body">
        <div>
          Material no portal.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-nao-lido">Desenvolvimento Multimídia</div>
      <div class="item item-body">
        <div>
          Aula será no laboratório.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
