<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Nova Seção</h1>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="fecharSecao()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nome:</span>
          <input type="text">
        </label>

        <label class="item">
          <button class="button button-block button-energized button" ng-click="adicionarSecao()">Adicionar</button>
        </label>
      </div>
    </form>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nome:</span>
          <input type="text" data-ng-model="nome">
        </label>
        <label class="item">
          <button class="button button-block button-energized button" type="submit" ng-click="adicionarDisciplina(nome)">Adicionar</button>
          <button class="button button-block button-energized button" type="submit" ng-click="carregarDisciplinas()">Carregar</button>
          <input type="text readonly" value="{{resultado}}">
        </label>
      </div>
      <div> 
      </div>
    </form>
  </ion-content>
</ion-modal-view>
